<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <title>재고관리 시스템</title>
</head>

<body>
    <nav class="navbar">
        <table style="width: 100%;">
            <tr>
                <th>
                    <a th:href="@{/home}" style="font-size: 2rem;">재고관리 시스템</a>
                </th>
                <th>
                    <a th:href="@{/objects}" style="font-size: 2rem;">물품 관리</a>
                </th>
                <th>
                    <a th:href="@{/categories}" style="font-size: 2rem;">카테고리 관리</a>
                </th>
                
            </tr>
        </table>    
        
    </nav>
    <div>
        <p style="font-size: 2rem;">목록 추가</p>
        <!-- <form th:action="@{/catetgory}" th:object="${dto}" th:method="post">
            <div>
                <label for="목록 이름"></label>
                <input type="text" id="name" name="name" placeholder="목록 이름">
            </div>
            <div>
                <button type="submit">등록</button>
            </div>
        </form> -->
        <form th:action="@{/category}" th:object="${dto}" th:method="post">
            <div>
                <label for="목록 이름"></label>
            
                    <input type="text" id="name" name="name" placeholder="목록 이름">
                
            </div>
            <div>
                <button type="submit">등록</button>
            </div>
        </form>
        
    </div>
    <div>
        <p style="font-size: 2rem;">목록 삭제</p>
        <table>
            <tr>
                <th>이름</th>
                <th>삭제</th>
            </tr>
            <tr th:each="category : ${category}">
                <td>
                    <p th:text="${category}"></p>
                </td>
                <td class="button">
                    <form th:action="@{/category}" th:method="delete">
                        <button type="submit" th:name="name" th:value="${category}">삭제</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>      
 </body>
</html>
